/*author: biringaChi
  email: biringachidera@gmail.com
*/

/*========== Body Begins ==========*/

html {
    scroll-behavior: smooth;
}

body {
  background-color: #212529;
  text-align: center;
  color: #fff;
  height: 100%;
  font-size: 1rem;
  font-weight: lighter;
}

a, a:hover{
    color: inherit;
    text-decoration: none;
}

*:focus {
    outline: none;
}

/*========== Body Ends ==========*/


/*========== Navigation Begins ==========*/

.navbar {
    background-color: #212529;
    line-height: 4;
}

.navbar-nav a:hover {
    color: grey;
    padding: 0;
    border-bottom: 0.5px solid grey;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    margin-right: 1rem;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 3rem;
    opacity: 0.8;
}

@media only screen and (max-width: 590px){
    .navbar-nav > li {
        display: block;
    }

    .navbar-nav a:hover {
        color: grey;
        border-bottom: none;
    }

    .logo {
        margin-right: -1.5rem;
    }
}

.logo {
    padding: 0px;
    border: 1px solid grey;
    border-radius: 15px;
    margin-left: 1rem;
}

.logo:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border: 0.5px solid grey;
}

.resume_header {
    border: 1px solid grey;
    border-radius: 15px;
    margin-left: 3rem;
    margin-right: 1rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    width: 80px;
}

.resume_header:hover {
    color: grey;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border: 0.5px solid grey;
}

@media only screen and (max-width: 990px){
    .resume_header {
        padding: 10px;
    }
}

/*========== Navigation Ends ==========*/


/*========== Introduction Begins ==========*/
.intro_container {
    margin-top: 12rem;
}

.intro_content {
    opacity: 0.8;
    font-family: "Helvetica Neue";
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
}

.typewrite {
    opacity: 0.7;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    color: #fff;
}
/*========== Introduction Ends ==========*/


/*========== About Me Begins ==========*/
.section_headers {
    line-height: 0em;
    /*opacity: 0.8;*/
    font-family: "Helvetica Neue";
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    width: 20%;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.section_headers span {
    background: #212529;
    padding: 0 10px;
}

@media only screen and (max-width: 990px){
    .section_headers {
    width: 60%;
    }
}

.about_me_content {
    margin-top: 1.0rem;
    font-size: 0.8rem;
    opacity: 0.8;
    text-align: justify;
}

.profile_picture {
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
    opacity: 0.5;
    border: 0.5px solid grey;
}

.profile_picture:hover {
    opacity: 1;
}

@media only screen and (max-width: 580px) {
    .profile_picture {
        opacity: 1;
        width: 200px;
        height: 200px;
    }
    .image_placement {
        margin-left: 5rem;
    }
}


.hovereffect_ab img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}


.hovereffect_ab:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect_ab:hover .overlay_ab {
    opacity:1;
    width: 50%;
    filter:alpha(opacity=100);
}

/*========== About Me Ends ==========*/


/*========== Projects Begins ==========*/

.image_placement {
    margin-top: 1rem;
    padding: 5px;
}

.projects_intro {
    font-family: "Helvetica Neue";
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.sql_img {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
}

.sql_img_lines {
    border-radius: 15px;
    padding: 5px;
}

.hovereffect_2 .overlay_2 {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3em;
    /*background: blue;*/
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    visibility: hidden;

}

.hovereffect_2 img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect_2:hover img {
    -webkit-transform: translate3d(0,5%,0);
    transform: translate3d(0,5%,0);
}

.projects_content {
    margin-top: 2.0rem;
    font-size: 0.8rem;
    opacity: 0.8;
    text-align: justify;
}

.github_pill {
    border: 0.5px solid grey;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.8;
    text-align: center;
    width: 40%;
    margin: auto;
}

.github_pill:hover {
    color: grey;
}

.img_logo {
    border: 0.5px solid grey;
    text-align: center;
}

.technologies {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 100%;
    margin: auto;
}


/*========== Projects Ends ==========*/

/*========== Experience Begins ==========*/
.experience_container {
   margin-top: 8rem;
}

.main-timeline{ position: relative; }
.main-timeline:before,
.main-timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #212529;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    width: 50%;
    float: left;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 1;
}
.main-timeline .timeline:last-child:before{
    top: auto;
    bottom: 0;
}
.main-timeline .timeline:last-child:nth-child(even):before{
    right: auto;
    left: -12px;
    bottom: -2px;
}

.date {
    font-family: "Helvetica Neue";
    text-align: left;
    font-size: 0.8rem;
    opacity: 0.8;
}

.main-timeline .content{
    text-align: center;
    display: table;
    position: relative;
    padding: 1rem;
    border: 1px solid grey;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0.8;
}

.main-timeline .content:after {
    content: "";
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 0;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-timeline .content:hover{
    padding: 1rem;
    border-radius: 15px;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

@media only screen and (max-width: 990px){
    .main-timeline .content:hover{
        padding: 1rem;
        border-radius: 15px;
        -webkit-transform: none;
        transform: none;
    }
}

.main-timeline .content:hover::after {
    opacity: 1;
}

.main-timeline .title{
    font-size: 1rem;
    font-weight: lighter;
    font-family: "Helvetica Neue";
    text-align: left;
    margin-top: 0;
}
.main-timeline .description{
    font-size: 0.8rem;
    opacity: 0.8;
    text-align: justify;
}

.main-timeline .timeline:nth-child(2){
    margin-top: 135px;
}

/* 1st */
.main-timeline .timeline:nth-child(odd){
    margin: -125px -50px 0px 50px;
    /*margin-right: -50px;*/
}

/* 2nd */
.main-timeline .timeline:nth-child(even){
    margin-bottom: 100px;
}

.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even){
    margin: 0;
}
@media only screen and (max-width: 990px){
    .main-timeline:before{ left: 100%; }
    .main-timeline .timeline{
        width: 100%;
        float: none;
        margin-bottom: 20px !important;
    }
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before{
        left: auto !important;
        right: -13px !important;
    }
    .main-timeline .timeline:nth-child(2n) .circle{
        float: left;
        margin: 0 25px 0 0;
    }
    .main-timeline .timeline:nth-child(2n) .circle:before{
        right: -33px;
        left: auto;
        box-shadow: 7px 0 9px -7px #444 inset;
    }
    .main-timeline .timeline:nth-child(2n) .circle span:before,
    .main-timeline .timeline:nth-child(2n) .circle span:after{
        right: -33px;
        left: auto;
        border-radius: 0 0 0 21px;
    }
    .main-timeline .timeline:nth-child(2n) .circle span:after{
        border-radius: 21px 0 0 0;
    }
    .main-timeline .timeline:nth-child(2n) .content{
        padding: 0 40px 0 0;
        margin-left: 0;
    }
    .main-timeline .timeline:nth-child(2n) .icon{
        right: -14px;
        left: auto;
    }
    .main-timeline .timeline:nth-child(2n) .icon:before,
    .main-timeline .timeline:nth-child(2n) .icon span:before,
    .main-timeline .timeline:nth-child(2n) .icon span:after{
        left: -15px;
        right: auto;
    }
    .main-timeline .timeline:nth-child(2n) .icon span:before{
        border-radius: 0 0 21px 0;
    }
    .main-timeline .timeline:nth-child(2n) .icon span:after{
        border-radius: 0 21px 0 0;
    }
    .main-timeline .timeline:nth-child(2),
    .main-timeline .timeline:nth-child(odd),
    .main-timeline .timeline:nth-child(even){
        margin: 0;
    }
}
@media only screen and (max-width: 990px){
    .main-timeline:before{
        left: 0;
    }
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before{
        left: -12px !important;
        right: auto !important;
    }
    .main-timeline .circle,
    .main-timeline .timeline:nth-child(2n) .circle{
        width: 130px;
        height: 130px;
        float: none;
        margin: 0 auto;
    }
    .main-timeline .timeline-content:before{
        width: 99.5%;
        top: 68px;
        left: 0.5%;
    }
    .main-timeline .circle span{
        line-height: 115px;
        font-size: 60px;
    }
    .main-timeline .circle:before,
    .main-timeline .circle span:before,
    .main-timeline .circle span:after,
    .main-timeline .icon{
        display: none;
    }
    .main-timeline .content,
    .main-timeline .timeline:nth-child(2n) .content{
        padding: 0 10px;
    }
    .main-timeline .dat{
        margin-bottom: 15px;
    }
    .main-timeline .description{
        text-align: center;
    }
}

/*========== Experience Ends ==========*/

/*========== Contact Me Begins ==========*/
.contact_details {
    line-height: 1.5;
    opacity: 0.8;
    font-family: "Helvetica Neue";
    text-align: center;
    margin-bottom: 1.0rem;
    margin-top: 1.0rem;
    font-size: 1.0rem;
    font-weight: lighter;
}

/*========== Footer Begins ==========*/
#footer_copy {
    font-size: 0.8rem;
    font-family: "Helvetica Neue";
    position: relative;
    left: -1rem;
    font-weight: lighter;
    opacity: 0.8;
}

.linkedin {
    font-size: 1rem;
    color: grey;
}

.github {
    font-size: 1rem;
    background-color: #212529;
    color: grey;
}

.linkedin {
    font-size: 1rem;
    color: grey;
}

.github {
    font-size: 1rem;
    background-color: #212529;
    color: grey;
}
/*========== Footer Ends ==========*/
