/*========== Body Begins ==========*/

body {
  background-color: #212529;
  text-align: center;
  padding-top: 10em;
  color: #fff;
  height: 100%;
  font-size: 1rem;
  font-weight: lighter;
}

a, a:hover{
    color: inherit;
    text-decoration: none;
}

*:focus {
    outline: none;
}

/*========== Body Ends ==========*/


/*========== Navigation Begins ==========*/

.navbar {
    background-color: #212529;
    line-height: 4;
}

.navbar-nav a:hover {
    /*border-bottom: 0.5px solid grey;*/
    color: grey;
}

.navbar-nav > li a.active {
    border-bottom: 0.5px solid pink;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    margin-right: 1rem;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    font-size: 1rem;
    font-weight: lighter;
    margin-left:2.5rem;
    opacity: 0.8;
}

.contact_header {
    line-height: 1.5;
    opacity: 0.8;
    font-family: "Helvetica Neue";
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: lighter;
    border-bottom: 0.5px solid grey;
    width: 20%;
    margin: 0 auto;
}

.logo {
    padding: 0px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 1rem;
    /*margin-right: -25rem;*/
}

/*========== Navigation Ends ==========*/


/*========== Introduction Begins ==========*/

.intro_content {
    opacity: 0.8;
    font-family: "Helvetica Neue";
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

.typewrite {
    opacity: 0.7;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    color: #fff;
}

/*========== Introduction Ends ==========*/


/*========== About Me Begins ==========*/

.about_me_header {
    line-height: 1.5;
    opacity: 0.8;
    font-family: "Helvetica Neue";
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: lighter;
    border-bottom: 0.5px solid grey;
    width: 40%;
    margin: 0 auto;
}

.about_me_content {
    margin-top: 1.0rem;
    font-size: 0.9rem;
    opacity: 0.7;
    text-align: justify;
    /*border: 1px solid green;*/
}

.profile_picture {
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.profile_picture:hover {
    opacity: 1;
}

.image_placement {
    text-align: left;
}


.hovereffect_ab img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}


.hovereffect_ab:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect_ab:hover .overlay_ab {
opacity:1;
width: 50%;
filter:alpha(opacity=100);
}

/*========== About Me Ends ==========*/


/*========== Resume Begins ==========*/
.resume_header {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.resume_header:hover {
    color: grey;
}

/*========== Resume Ends ==========*/



/*========== Projects Begins ==========*/

/*.projects_container {
   border: 1px solid white;
}

.projects_my_row {
    border: 3px solid red;
}

.projects_my_col {
    border: 3px dotted blue;
}*/

.projects_header {
    line-height: 1.5;
    opacity: 0.8;
    font-family: "Helvetica Neue";
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: lighter;
    border-bottom: 0.5px solid grey;
    width: 13%;
    margin: 0 auto;
}

.projects_image_placement {
    /*border: 1px solid green;*/
}

.sql_img {
    /*box-shadow: 5px 1px red;*/
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.hovereffect_2 {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect_2 .overlay_2 {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3em;
    background: green;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    visibility: hidden;

}

.hovereffect_2 img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect_2:hover img {
    -webkit-transform: translate3d(0,5%,0);
    transform: translate3d(0,5%,0);
}

.hovereffect_2 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
}

.hovereffect_2 p.icon-links a:hover {
    color: white;
}


/*Important for icons popping */
.hovereffect_2 h2,
.hovereffect_2 p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
    visibility: visible;
}


.hovereffect_2:hover .overlay_2,
.hovereffect_2:hover h2,
.hovereffect_2:hover p.icon-links a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.projects_content {
    margin-top: 1.0rem;
    font-size: 0.9rem;
    /*background-color: grey;*/
    opacity: 0.7;
    text-align: justify;
    /*border: 1px solid green;*/
}

/*========== Projects Ends ==========*/


/*========== Contact Me Begins ==========*/

.contact_info_2 {
    line-height: 1.5;
    opacity: 0.7;
    font-family: "Helvetica Neue";
    text-align: center;
    margin-bottom: 1.0rem;
    margin-top: 1.0rem;
    font-size: 1.0rem;
    font-weight: lighter;
}

/*========== Footer Begins ==========*/

#footer_copy {
    font-size: 0.8rem;
    position: relative;
    left: -1rem;
    font-weight: lighter;
    opacity: 0.7;
}

.linkedin {
    font-size: 1rem;
    color: grey;
}

.github {
    font-size: 1rem;
    background-color: #212529;
    color: grey;
}

.linkedin {
    font-size: 1rem;
    color: grey;
}

.github {
    font-size: 1rem;
    background-color: #212529;
    color: grey;
}

#footer_copy {
    font-size: 0.8rem;
    position: relative;
    left: -0.7rem;
    font-weight: lighter;
    opacity: 0.7;
}

/*========== Footer Ends ==========*/
